@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header img {
  max-width: 200px;
  margin-top: 10px;
}
header i {
  position: absolute;
  left: 25px;
  bottom: 30%;
  font-size: 1.2rem;
}

.img-container {
  z-index: -5;
  position: relative;
  overflow-x: hidden;
}
.img-container img {
  object-fit: cover;
  width: 100vw;
  height: 330px;
}

.main-section {
  margin-top: -65px;
  background-color: #f1f1f1;
  border-radius: 25px 25px 0 0;
}
.main-section .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  position: relative;
  margin: auto;
}
.main-section .menu-header h1 {
  padding: 20px 20px 20px 0;
  font-weight: 800;
  font-style: italic;
}
.main-section .menu-header .icone {
  background-image: url('data:image/svg+xml,<svg aria-hidden="true"  focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path  d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>');
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 35%;
  transition: 0.2s ease-in-out;
}
.main-section .menu-header .icone:hover {
  background-image: url('data:image/svg+xml,<svg aria-hidden="true" fill="blueviolet" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 35%;
}

.entrees {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}
.entrees h3 {
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.entrees h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
}
.entrees-item {
  display: flex;
  margin: 20px auto;
  background-color: white;
  box-shadow: -6px 6px 6px lightgray;
  border-radius: 20px;
  max-width: 800px;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
}
.entrees-item--1 {
  animation: appear 0.4s 0.1s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.entrees-item--2 {
  animation: appear 0.4s 0.2s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.entrees-item--3 {
  animation: appear 0.4s 0.3s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.entrees-item:hover .entrees-item--description {
  width: 79%;
}
.entrees-item:hover .fa-check-circle {
  transform: rotate(0deg);
}
.entrees-item:hover h4 {
  width: 90%;
}
.entrees-item h4 {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  width: 85%;
  font-size: 1.2rem;
}
.entrees-item--description {
  display: flex;
  width: 99%;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.entrees-item--description-content {
  width: 100% !important;
}
.entrees-item--description-content-txt {
  width: 75%;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  font-size: 1rem;
}
.entrees-item--description p {
  font-size: 1.1rem;
  margin: 0 0 5px 5px;
}
.entrees-item--description .price {
  position: absolute;
  right: 25px;
  font-weight: 600;
  top: 40px;
}
.entrees-item .hover-effect {
  margin-right: -550px;
  width: 20%;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entrees-item .hover-effect i {
  font-size: 1.6rem;
  transition: 0.4s ease-in-out;
  transform: rotate(-180deg);
}

.plat {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}
.plat h3 {
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.plat h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
}
.plat-item {
  display: flex;
  background-color: white;
  box-shadow: -6px 6px 6px lightgray;
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 20px auto;
  cursor: pointer;
  overflow-x: hidden;
  z-index: 1;
}
.plat-item--1 {
  animation: appear 0.4s 0.4s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.plat-item--2 {
  animation: appear 0.4s 0.5s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.plat-item--3 {
  animation: appear 0.4s 0.6s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.plat-item:hover .plat-item--description {
  width: 79%;
}
.plat-item:hover .plat-item--description-content-txt {
  width: 69%;
}
.plat-item:hover .fa-check-circle {
  transform: rotate(0deg);
}
.plat-item:hover h4 {
  width: 90%;
}
.plat-item h4 {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  width: 85%;
  font-size: 1.2rem;
}
.plat-item--description {
  display: flex;
  width: 99%;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.plat-item--description-content {
  width: 100%;
}
.plat-item--description-content-txt {
  width: 75%;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  font-size: 1rem;
}
.plat-item--description p {
  margin: 0 0 5px 5px;
}
.plat-item--description .price {
  position: absolute;
  right: 25px;
  font-weight: 600;
  top: 40px;
}
.plat-item .hover-effect {
  margin-right: -550px;
  width: 20%;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plat-item .hover-effect i {
  font-size: 1.6rem;
  transition: 0.4s ease-in-out;
  transform: rotate(-180deg);
}

.dessert {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  transform: scale(1);
}
.dessert h3 {
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.dessert h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
}
.dessert-item {
  display: flex;
  background-color: white;
  box-shadow: -6px 6px 6px lightgray;
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  cursor: pointer;
  margin: 20px auto;
  position: relative;
  overflow-x: hidden;
  transform: scaleY(1);
  z-index: 1;
}
.dessert-item--1 {
  animation: appear 0.4s 0.7s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.dessert-item--2 {
  animation: appear 0.4s 0.8s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.dessert-item--3 {
  animation: appear 0.4s 0.9s ease-in-out both;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.dessert-item:hover .dessert-item--description {
  width: 79%;
}
.dessert-item:hover .fa-check-circle {
  transform: rotate(0deg);
}
.dessert-item:hover h4 {
  width: 90%;
}
.dessert-item h4 {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  width: 85%;
  font-size: 1.2rem;
}
.dessert-item--description {
  display: flex;
  width: 99%;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.dessert-item--description-content {
  width: 100% !important;
}
.dessert-item--description-content-txt {
  width: 75%;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: none;
  font-size: 1rem;
}
.dessert-item--description p {
  font-size: 1.1rem;
  margin: 0 0 5px 5px;
}
.dessert-item--description .price {
  position: absolute;
  right: 25px;
  font-weight: 600;
  top: 40px;
}
.dessert-item .hover-effect {
  margin-right: -550px;
  width: 20%;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dessert-item .hover-effect i {
  font-size: 1.6rem;
  transition: 0.4s ease-in-out;
  transform: rotate(-180deg);
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container button {
  padding: 15px 20px;
  margin: 30px;
  color: #f0ebeb;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: -4px 6px 7px lightgray;
  border: none;
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-container button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

footer {
  background-color: #353535;
  padding: 10px 30px;
  color: #f1f1f1;
}
footer h5 {
  font-size: 1.2rem;
  margin: 10px 0;
}
footer div {
  display: flex;
  margin: 10px 0;
}
footer div h6 {
  margin: 0 10px;
  font-size: 0.9rem;
}

/*# sourceMappingURL=styles-menu.css.map */
