@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 200px;
  margin: 20px 0 5px 0;
}

.lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
.lieu i {
  margin: 0 20px;
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 20px 50px;
  text-align: center;
}
.reserve p {
  margin: 0;
  color: gray;
  font-size: 1.1rem;
}
.reserve button {
  padding: 15px 20px;
  margin: 30px;
  color: #f0ebeb;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: -4px 6px 7px lightgray;
  border: none;
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.reserve button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 2000px;
}
.fonctionnement h2 {
  width: 90%;
  font-weight: 800;
}
.fonctionnement-flex {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.fonctionnement-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  background-color: #f7f7f7;
  box-shadow: -6px 8px 8px #ededed;
  border-radius: 40px;
  width: 85%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 20px;
  position: relative;
  cursor: pointer;
}
.fonctionnement-flex-item span {
  position: absolute;
  left: -10px;
  margin-top: auto;
  background-color: #9356DC;
  z-index: 5;
  width: 19px;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 50px;
  overflow: visible;
  padding: 5px;
  color: white;
}
.fonctionnement-flex-item div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  min-width: 70%;
}
.fonctionnement-flex-item div h5 {
  margin: 10px 0;
  font-size: 1rem;
}
.fonctionnement-flex-item div i {
  padding-right: 30px;
}

.restaurant-container {
  background-color: #f7f7f7;
}

.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  max-width: 2000px;
  padding-bottom: 50px;
}
.restaurants h2 {
  width: 90%;
  margin-top: 50px;
  font-weight: 800;
}

.resto-item {
  background-color: white;
  box-shadow: -5px 5px 5px #e0e0e0;
  border-radius: 20px 20px 20px 20px;
  margin: 10px 15px;
  position: relative;
  cursor: pointer;
}
.resto-item span {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #99E2D0;
  color: #026d02;
  padding: 5px 10px;
}
.resto-item--content {
  padding: 13px;
  position: relative;
}
.resto-item--content h3 {
  margin: 0;
}
.resto-item--content p {
  margin: 5px 0 0 0;
}
.resto-item--content .icone {
  background-image: url('data:image/svg+xml,<svg aria-hidden="true"  focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path  d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>');
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 25%;
  transition: 0.2s ease-in-out;
}
.resto-item--content .icone:hover {
  background-image: url('data:image/svg+xml,<svg aria-hidden="true" fill="blueviolet" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 25%;
}
.resto-item--content svg:hover {
  fill: blueviolet;
  stroke: blueviolet;
}

.img-container img {
  width: 100%;
  height: 30%;
  max-height: 170px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

footer {
  background-color: #353535;
  padding: 10px 30px 30px 30px;
  color: #f1f1f1;
}
footer h5 {
  font-size: 1.2rem;
  margin: 25px 0;
  font-family: "Shrikhand";
  font-weight: 600;
}
footer div {
  display: flex;
  justify-content: flex-star;
  margin: 10px 0;
}
footer div h6 {
  margin: 0 10px;
  font-size: 0.9rem;
}
footer p {
  margin: 5px 0;
}

@media (min-width: 650px) {
  .img-container {
    width: 80%;
  }
  .img-container img {
    width: 450px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .img-container {
    width: 80%;
  }
  .img-container img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .fonctionnement-flex {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
