@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header img {
  max-width: 200px;
  margin-top: 10px;
}

.lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: lightgray;
}

.lieu i {
  margin: 0 20px;
}

.reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.reserve button {
  padding: 20px 20px;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.fonctionnement h2 {
  width: 90%;
}

.fonctionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  -webkit-box-shadow: -4px 4px 5px #e6e4e4;
  box-shadow: -4px 4px 5px #e6e4e4;
  border: 1px solid black;
  border-radius: 40px;
  width: 90%;
  margin-bottom: 10px;
  position: relative;
}

.fonctionnement div span {
  position: absolute;
  left: -5px;
  margin-top: auto;
  background-color: #9356DC;
  z-index: 5;
  width: 19px;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 50px;
  overflow: visible;
}

.fonctionnement div i {
  margin: 0 20px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f0f0f0;
  padding-bottom: 50px;
}

.restaurants h2 {
  width: 90%;
}

.resto-item {
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  margin: 10px 0;
  position: relative;
}

.resto-item span {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: green;
  padding: 5px 5px;
}

.resto-item--content {
  padding: 15px;
}

.resto-item--content h3 {
  margin: 0;
}

.img-container {
  width: 80%;
}

.img-container img {
  width: 350px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

footer {
  background-color: #353535;
  padding: 10px 30px;
  color: #f1f1f1;
}

footer h5 {
  font-size: 1.2rem;
  margin: 10px 0;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

footer div h6 {
  margin: 0 10px;
  font-size: 0.9rem;
}

@media (min-width: 650px) {
  .img-container {
    width: 80%;
  }

  .img-container img {
    width: 450px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .img-container {
    width: 80%;
  }

  .img-container img {
    width: 900px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
