$primaryColor : #9356DC;
$subColor : #FF79DA;
$color3 : #99E2D0;

$whiteColor : #f1f1f1;
$footerBg : #353535;

// accueil color
$lieuBg : rgb(235,235,235);
$reserveBg : rgb(247,247,247);
$greenColor : rgb(2,109,2);

// logo + titre
$font1 : 'Shrikhand';
//texte
$font2 : 'Roboto';
