$primaryColor : #9356DC;
$subColor : #FF79DA;
$color3 : #99E2D0;

// logo + titre
$font1 : 'Shrikhand';
//texte
$font2 : 'Roboto';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import  './_mixins.scss';     



body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto'
}
header {
     @include flex-center;
     position: relative;
     img{
          max-width: 200px;
          margin-top: 10px
     }
     i{
          position: absolute;
          left: 25px;
          bottom: 30%;
          font-size: 1.2rem;
     }
}
.img-container{
     z-index: -5;
     position: relative;
     overflow-x: hidden;
     img{
          object-fit:cover ;
          width: 100vw;
          height: 330px;
     }
}

.main-section{
     margin-top: -65px;
     background-color: rgb(241, 241, 241);
     border-radius: 25px 25px 0 0;

     .menu-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          max-width: 900px;
          position: relative;
          margin: auto;
          h1{
               padding: 20px 20px 20px 0;
               font-weight: 500;
               font-size: 1.3rem;
               font-style: italic;
               font-family: $font1
          }
          .icone{
               @include coeur;
               width: 30px;
               height: 30px;
               position: absolute;
               right: 20px;
               top: 35%;
               transition: 0.2s ease-in-out;
          }
          .icone:hover{
               @include coeur-plein;
               width: 30px;
               height: 30px;
               position: absolute;
               right: 20px;
               top: 35%;
          }
     }
}

.entrees{
     padding: 20px;
     max-width: 900px;
     margin: auto;
     h3{
          position: relative;
          margin-bottom: 30px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2rem;
          letter-spacing: 1px;
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
     }
     h3::after{
          content: "";
          position: absolute;
          bottom: -10px;
          background-color: $color3;
          height: 5px;
          width: 50px;
     }

     &-item{
          display: flex ;
          margin: 20px auto;
          background-color: white;
          box-shadow: -6px 6px 6px lightgray;
          border-radius: 20px;
          max-width: 800px;
          cursor: pointer;
          position: relative;
          overflow-x: hidden;
          z-index: 1;
          
          
          &--1{

               animation: appear 0.4s 0.1s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &--2{

               animation: appear 0.4s 0.2s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &--3{

               animation: appear 0.4s 0.3s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }


          &:hover{
               .entrees-item--description{
                    width: 79%;
               }
               .fa-check-circle{
                    transform: rotate(0deg);
               }
               h4{
                    width: 90%;
               }
          } 
          
          h4{
               margin: 5px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               word-wrap: none;
               width: 85%;
               font-size: 1.2rem;
               
          }
          &--description{
               display: flex ;
               width: 99%;
               justify-content: space-between;
               margin: 0;
               padding: 5px;
               transition: 0.3s ease-in-out;
               position: relative;

               &-content{
                    width: 100% !important;

                    &-txt{
                         width: 75%;
                         overflow:hidden;
                         transition: 0.4s ease-in-out;
                         text-overflow: ellipsis;
                         white-space: nowrap;
                         word-wrap: none;
                         font-size: 1rem;
                    }
               }

               p{
                    font-size: 1.1rem;
                    margin: 0 0 5px 5px;
               }

               .price{
                    position: absolute;
                    right: 25px;
                    font-weight: 600;
                    top: 40px;
               }
          }

          .hover-effect{
               margin-right: -550px;
               width: 20%;
               border-radius: 0 20px 20px 0;
               background-color: $color3;
               @include flex-center;
               color: white;

               i{
                    font-size: 1.4rem;
                    transition: 0.4s ease-in-out;
                    transform: rotate(-180deg);
               }
          }
     }
     
}
.plat{
     padding: 20px;
     max-width: 900px;
     margin: auto;
     h3{
          position: relative;
          margin-bottom: 30px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2rem;
          letter-spacing: 1px;
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
     }
     h3::after{
          content: "";
          position: absolute;
          bottom: -10px;
          background-color: $color3;
          height: 5px;
          width: 50px;
     }

     &-item{
          display: flex ;
          background-color: white;
          box-shadow: -6px 6px 6px lightgray;
          border-radius: 20px;
          margin-bottom: 20px;
          max-width: 800px;
          margin: 20px  auto;
          cursor: pointer;
          overflow-x: hidden;
          z-index: 1;
          
          &--1{

               animation: appear 0.4s 0.4s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &--2{

               animation: appear 0.4s 0.5s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &--3{

               animation: appear 0.4s 0.6s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }

          &:hover{
               .plat-item--description{
                    width: 79%;
               }
               .plat-item--description-content-txt{
                    width: 69%;
               }
               .fa-check-circle{
                    transform: rotate(0deg);
               }
               h4{
                    width: 90%;
               }
          }          
          
          h4{
               margin: 5px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               word-wrap: none;
               width: 85%;
               font-size: 1.2rem;
               
          }
          &--description{
               display: flex ;
               width: 99%;
               justify-content: space-between;
               margin: 0;
               padding: 5px;
               transition: 0.3s ease-in-out;
               position: relative;

               &-content{
                    width: 100%;

                    &-txt{
                         width: 75%;
                         overflow:hidden;
                         transition: 0.4s ease-in-out;
                         text-overflow: ellipsis;
                         white-space: nowrap;
                         word-wrap: none;
                         font-size: 1rem;
                    }
               }

               p{
                    margin: 0 0 5px 5px;
               }

               .price{
                    position: absolute;
                    right: 25px;
                    font-weight: 600;
                    top: 40px;
               }
          }

          .hover-effect{
               margin-right: -550px;
               width: 20%;
               border-radius: 0 20px 20px 0;
               background-color: $color3;
               color: white;
               @include flex-center;

               i{
                    font-size: 1.4rem;
                    transition: 0.4s ease-in-out;
                    transform: rotate(-180deg);
               }
          }
     }
     
}
.dessert{
     padding: 20px;
     max-width: 900px;
     margin: auto;
     transform: scale(1);

     h3{
          position: relative;
          margin-bottom: 30px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2rem;
          letter-spacing: 1px;
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
     }
     h3::after{
          content: "";
          position: absolute;
          bottom: -10px;
          background-color: $color3;
          height: 5px;
          width: 50px;
     }

     &-item{
          display: flex ;
          
          background-color: white;
          box-shadow: -6px 6px 6px lightgray;
          border-radius: 20px;
          margin-bottom: 20px;
          max-width: 800px;
          cursor: pointer;
          margin: 20px auto;
          position: relative;
          overflow-x: hidden;
          transform: scaleY(1);
          z-index: 1;
         
          &--1{

               animation: appear 0.4s 0.7s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &--2{

               animation: appear 0.4s 0.8s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &--3{

               animation: appear 0.4s 0.9s ease-in-out both ;

               &:hover{
                    @keyframes appear {
                         0%{ transform: scaleY(0);}
                         100%{transform: scaleY(1);}
                    }
               }
                        
          }
          &:hover{
               .dessert-item--description{
                    width: 79%;
               }
               .fa-check-circle{
                    transform: rotate(0deg);
               }
               h4{
                    width: 90%;
               }
          }          
          
          h4{
               margin: 5px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               word-wrap: none;
               width: 85%;
               font-size: 1.1rem;
               
          }
          &--description{
               display: flex ;
               width: 99%;
               justify-content: space-between;
               margin: 0;
               padding: 5px;
               transition: 0.3s ease-in-out;
               position: relative;

               &-content{
                    width: 100% !important;

                    &-txt{
                         width: 75%;
                         overflow:hidden;
                         transition: 0.4s ease-in-out;
                         text-overflow: ellipsis;
                         white-space: nowrap;
                         word-wrap: none;
                    }
               }

               p{
                    font-size: 1rem;
                    margin: 0 0 5px 5px;
               }

               .price{
                    position: absolute;
                    right: 25px;
                    font-weight: 600;
                    top: 40px;
               }
          }

          .hover-effect{
               margin-right: -550px;
               width: 20%;
               border-radius: 0 20px 20px 0;
               background-color: $color3;
               @include flex-center;
               color: white;

               i{
                    font-size: 1.4rem;
                    transition: 0.4s ease-in-out;
                    
                    transform: rotate(-180deg);
               }
          }
     }
     
}
.btn-container{
     display: flex;
     justify-content: center;
     button{
          padding: 15px 20px;
          margin: 30px;
          color: rgb(240, 235, 235);
          font-size: 1rem;
          font-weight: 600;
          box-shadow: -4px 6px 7px lightgray;
          border: none;
          border-radius: 40px;
          background: linear-gradient($subColor,$primaryColor);
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover{
               transform:scale(1.1);
               opacity: 0.9;
          }
     }
}

// Footer 

footer{
     background-color: #353535;
     padding: 10px 30px 30px 30px;
     color: #f1f1f1;

     h5{
          font-size: 1.2rem;
          margin: 25px 0;
          font-family: $font1;
          font-weight: 600;
     }
     div{
          display: flex;
          margin: 10px 0;

          h6{
               margin: 0 10px;
               font-size: 0.9rem;
          }
     }
     p{margin: 5px 0;}
}

@include minwidth(500px) {
     .main-section{
          .menu-header{
               h1{
                    font-size: 1.7rem;
               }
          }
     }
     .entrees-item .hover-effect i{
          font-size: 1.6rem;
         
     }

}