$primaryColor : #9356DC;
$subColor : #FF79DA;
$color3 : #99E2D0;

// logo + titre
$font1 : 'Shrikhand';
//texte
$font2 : 'Roboto';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import  './mixins.scss';     



body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto'
}
header {
     @include flex-center;
     img{
          max-width: 200px
     }
}
.lieu {
     @include flex-center;
     background-color: lightgray;
     i{
          margin: 0 20px
     }
}
.reserve{
     @include flex-center;
     flex-direction: column;
     background-color: rgb(240, 240, 240);
     padding: 20px;
     button{
          padding: 20px 20px;
          border-radius: 40px;
          background: linear-gradient($subColor,$primaryColor);
          cursor: pointer
     }
}
.fonctionnement{
     @include flex-center;
     flex-direction: column;
     margin: 0 0 40px 0;

     h2{
          width: 70%;
     }
     div{
          @include flex-center;
          background-color: lightgray;
          border: 1px solid black;
          border-radius: 40px;
          width: 60%;
          margin-bottom: 10px;
          position: relative;

          span{
               position: absolute;
               left: -5px;
               margin-top: auto;
               background-color: $subColor;
               z-index: 5;
               border-radius: 50px;
               overflow: visible;
          }

          i{
               margin: 0 20px;
          }
     }
}
.restaurants{
     @include flex-center;
     flex-direction: column;
     background-color: rgb(240, 240, 240);
}
.resto-item{
     border: 1px solid black;
     border-radius: 20px 20px 20px 20px;
     margin: 10px 0;
     position: relative;

     span{
          position: absolute;
          top: 5%;
          right: 5%;
          background-color: green;
          padding: 5px 5px;
     }

     &--content{
          padding: 15px;
          h3{
               margin: 0;
          }
     }
}

.img-container{
     img{
          width: 400px;
          height: 200px;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
     }
}    

footer{
     background-color: #353535;
     padding: 10px 30px;
     color: #f1f1f1;
     div{
          display: flex;
          margin: 10px 0;

          h6{margin: 0 10px;}
     }
}

@include maxwidth(500px){

}